<div class="container">
  <h1><%= @product.title %></h1>
  <p>Posted by: <%= @product.user.username %></p>
  <%= link_to "Send a message", conversations_path(sender_id: current_user.id, recipient_id: @product.user.id), method: "post"%><br>
  <div class="flex-box">

    <div class="flex-item">
      <% unless @product.picture.nil? %>
        <%= cl_image_tag @product.picture, height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>

    <div class="flex-item">
      <div class="booking-box">
        <h3>Rent this Capybara</h3>
        <h4>Hourly rate: $ <%= rand(20..5000) %></h4>
        <p>To rent this Capybara just click 'rent' and the owner will then accept or decline your request.</p>
        <%= form_for @request do |f| %>
          <%= f.number_field :user_id, value: @product.user_id, type: "hidden" %>
          <%= f.number_field :product_id, value: @product.id, type: "hidden" %>
          <%= f.submit "Rent", class: "btn btn-success btn-lg" %>
        <% end %>
      </div>
    </div>

  </div>

  <p><%= @product.description %></p>

  <h3>Reviews</h3>
  <% @product.reviews.each do |elt| %>
  <li class="list-group-item">

    <h4>
      <%= cl_image_tag(elt.user.profile_picture, :width=>50, :height=>50, :gravity=>"face", :crop=>"thumb") %>
      <%= elt.user.username %>
    </h4>
    <h4>
      <% elt.rating.times do %>
        <i class="fa fa-star gold"></i>
      <% end %>
    </h4>
    <p><%= elt.content %></p>
  </li>
  <% end %>

  <% if @product.user != current_user %>
    <%= link_to "Add review", new_product_review_path(@product) %>
  <% end %>

  <p></p>
  <% if policy(@product).edit? %>
    <%= link_to "Edit", edit_product_path(@product) %><br>
  <% end %>

  <% if policy(@product).destroy? %>
    <%= link_to "Delete", product_path(@product), method: :delete %>
  <% end %>

  <p></p>
  <%= link_to "Back to listing", products_path %><br>
</div>
