<div class="container">
  <h1>Add a new review</h1>
  <%= simple_form_for [@product, @review]  do |f| %>
  <div class="form-group">
  <%= f.label :content, 'Write your review' %>
  <br>
  <%= f.text_area :content %>
  </div>
  <div class="form-group">
  <%= f.label :rating, 'Rate your Capybara experience' %>
  <br>
  <%= f.number_field :rating, in: 0..5 %>
  </div>
  <%= f.submit "Add a review", class: "btn btn-primary" %>
  <% end %>
</div>
